In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("spittman1248/cdc-data-nutrition-physical-activity-obesity")

print(path)

/kaggle/input/cdc-data-nutrition-physical-activity-obesity

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum, when, round, count
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()
import matplotlib.pyplot as plt
from functools import reduce

In [29]:
df = spark.read.csv(path + "/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv", header=True, inferSchema=True)
df.createOrReplaceTempView("my_table")
columns = df.columns
for col_name in columns:
    print(f"Distinct values in '{col_name}':")
    spark.sql(f"SELECT DISTINCT `{col_name}` FROM my_table").show(truncate=False)

Distinct values in 'YearStart':
+---------+
|YearStart|
+---------+
|2015     |
|2013     |
|2014     |
|2012     |
|2011     |
|2016     |
+---------+

Distinct values in 'YearEnd':
+-------+
|YearEnd|
+-------+
|2015   |
|2013   |
|2014   |
|2012   |
|2011   |
|2016   |
+-------+

Distinct values in 'LocationAbbr':
+------------+
|LocationAbbr|
+------------+
|AZ          |
|SC          |
|LA          |
|MN          |
|NJ          |
|DC          |
|OR          |
|VA          |
|RI          |
|KY          |
|NH          |
|MI          |
|NV          |
|ID          |
|CA          |
|CT          |
|NE          |
|MT          |
|NC          |
|VT          |
+------------+
only showing top 20 rows

Distinct values in 'LocationDesc':
+--------------------+
|LocationDesc        |
+--------------------+
|Utah                |
|Hawaii              |
|Minnesota           |
|Ohio                |
|National            |
|Arkansas            |
|Oregon              |
|Texas               |
|North Dakota        |
|Pennsylvania        |
|Connecticut         |
|Nebraska            |
|Vermont             |
|Nevada              |
|Puerto Rico         |
|Illinois            |
|Oklahoma            |
|District of Columbia|
|Delaware            |
|Alaska              |
+--------------------+
only showing top 20 rows

Distinct values in 'Datasource':
+------------------------------------------+
|Datasource                                |
+------------------------------------------+
|Behavioral Risk Factor Surveillance System|
+------------------------------------------+

Distinct values in 'Class':
+-----------------------+
|Class                  |
+-----------------------+
|Fruits and Vegetables  |
|Obesity / Weight Status|
|Physical Activity      |
+-----------------------+

Distinct values in 'Topic':
+--------------------------------+
|Topic                           |
+--------------------------------+
|Obesity / Weight Status         |
|Physical Activity - Behavior    |
|Fruits and Vegetables - Behavior|
+--------------------------------+

Distinct values in 'Question':
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Question                                                                                                                                                                                                                                             |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)                                                 |
|Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)                                                |
|Percent of adults aged 18 years and older who have an overweight classification                                                                                                                                                                      |
|Percent of adults who engage in no leisure-time physical activity                                                                                                                                                                                    |
|Percent of adults who report consuming vegetables less than one time daily                                                                                                                                                                           |
|Percent of adults who report consuming fruit less than one time daily                                                                                                                                                                                |
|Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week|
|Percent of adults aged 18 years and older who have obesity                                                                                                                                                                                           |
|Percent of adults who engage in muscle-strengthening activities on 2 or more days a week                                                                                                                                                             |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

Distinct values in 'Data_Value_Unit':
+---------------+
|Data_Value_Unit|
+---------------+
|NULL           |
+---------------+

Distinct values in 'Data_Value_Type':
+---------------+
|Data_Value_Type|
+---------------+
|Value          |
+---------------+

Distinct values in 'Data_Value':
+----------+
|Data_Value|
+----------+
|26.7      |
|15.5      |
|13.4      |
|14.9      |
|56.8      |
|49.8      |
|47.5      |
|72.3      |
|25.1      |
|54.2      |
|64.2      |
|15.4      |
|37.1      |
|53.3      |
|10.2      |
|45.3      |
|15.7      |
|55.8      |
|70.0      |
|8.0       |
+----------+
only showing top 20 rows

Distinct values in 'Data_Value_Alt':
+--------------+
|Data_Value_Alt|
+--------------+
|26.7          |
|15.5          |
|13.4          |
|14.9          |
|56.8          |
|49.8          |
|47.5          |
|72.3          |
|25.1          |
|54.2          |
|64.2          |
|15.4          |
|37.1          |
|53.3          |
|10.2          |
|45.3          |
|15.7          |
|55.8          |
|70.0          |
|8.0           |
+--------------+
only showing top 20 rows

Distinct values in 'Data_Value_Footnote_Symbol':
+--------------------------+
|Data_Value_Footnote_Symbol|
+--------------------------+
|~                         |
|NULL                      |
+--------------------------+

Distinct values in 'Data_Value_Footnote':
+------------------------------------------------------------------------------------------------------------------------------------------------------+
|Data_Value_Footnote                                                                                                                                   |
+------------------------------------------------------------------------------------------------------------------------------------------------------+
|Data not available because sample size is insufficient.                                                                                               |
|Data not available because sample size is insufficient.  If data only missing for the confidence interval, the confidence interval was not calculated.|
|NULL                                                                                                                                                  |
+------------------------------------------------------------------------------------------------------------------------------------------------------+

Distinct values in 'Low_Confidence_Limit':
+--------------------+
|Low_Confidence_Limit|
+--------------------+
|14.9                |
|26.7                |
|13.4                |
|49.8                |
|15.5                |
|56.8                |
|47.5                |
|2.4                 |
|25.1                |
|54.2                |
|15.4                |
|37.1                |
|53.3                |
|10.2                |
|45.3                |
|15.7                |
|55.8                |
|8.0                 |
|67.0                |
|24.7                |
+--------------------+
only showing top 20 rows

Distinct values in 'High_Confidence_Limit ':
+----------------------+
|High_Confidence_Limit |
+----------------------+
|49.8                  |
|13.4                  |
|26.7                  |
|14.9                  |
|69.8                  |
|15.5                  |
|56.8                  |
|74.5                  |
|78.9                  |
|25.1                  |
|64.2                  |
|47.5                  |
|15.4                  |
|53.3                  |
|37.1                  |
|72.3                  |
|55.8                  |
|45.3                  |
|15.7                  |
|67.0                  |
+----------------------+
only showing top 20 rows

Distinct values in 'Sample_Size':
+-----------+
|Sample_Size|
+-----------+
|5156       |
|1645       |
|471        |
|1342       |
|1580       |
|496        |
|1829       |
|1088       |
|2142       |
|1591       |
|2122       |
|833        |
|463        |
|3918       |
|148        |
|18866      |
|3794       |
|4101       |
|9427       |
|17389      |
+-----------+
only showing top 20 rows

Distinct values in 'Total':
+-----+
|Total|
+-----+
|Total|
|NULL |
+-----+

Distinct values in 'Age(years)':
+-----------+
|Age(years) |
+-----------+
|45 - 54    |
|55 - 64    |
|65 or older|
|35 - 44    |
|25 - 34    |
|18 - 24    |
|NULL       |
+-----------+

Distinct values in 'Education':
+--------------------------------+
|Education                       |
+--------------------------------+
|Some college or technical school|
|College graduate                |
|High school graduate            |
|Less than high school           |
|NULL                            |
+--------------------------------+

Distinct values in 'Gender':
+------+
|Gender|
+------+
|Female|
|Male  |
|NULL  |
+------+

Distinct values in 'Income':
+------------------+
|Income            |
+------------------+
|Data not reported |
|$25,000 - $34,999 |
|$75,000 or greater|
|$35,000 - $49,999 |
|Less than $15,000 |
|$15,000 - $24,999 |
|$50,000 - $74,999 |
|NULL              |
+------------------+

Distinct values in 'Race/Ethnicity':
+-----------------------------+
|Race/Ethnicity               |
+-----------------------------+
|Hawaiian/Pacific Islander    |
|Non-Hispanic Black           |
|Other                        |
|2 or more races              |
|Hispanic                     |
|Asian                        |
|American Indian/Alaska Native|
|Non-Hispanic White           |
|NULL                         |
+-----------------------------+

Distinct values in 'GeoLocation':
+-----------------------------------------+
|GeoLocation                              |
+-----------------------------------------+
|(40.79373015200048, -77.86070029399963)  |
|(41.6410409880005, -99.36572062299967)   |
|(18.220833, -66.590149)                  |
|(40.48501028300046, -88.99771017799969)  |
|(64.84507995700051, -147.72205903599973) |
|(21.304850435000446, -157.85774940299973)|
|(47.47531977900047, -100.11842104899966) |
|(46.35564873600049, -94.79420050299967)  |
|(41.56266102000046, -72.64984095199964)  |
|(39.008830667000495, -75.57774116799965) |
|(43.65595011300047, -71.50036091999965)  |
|(42.82700103200045, -75.54397042699964)  |
|(44.6613195430005, -84.71439026999968)   |
|(35.47203135600046, -97.52107021399968)  |
|(33.998821303000454, -81.04537120699968) |
|(38.89037138500049, -77.03196112699965)  |
|(44.353130053000484, -100.3735306369997) |
|(40.13057004800049, -74.27369128799967)  |
|(13.444304, 144.793731)                  |
|(39.766910452000445, -86.14996019399968) |
+-----------------------------------------+
only showing top 20 rows

Distinct values in 'ClassID':
+-------+
|ClassID|
+-------+
|FV     |
|PA     |
|OWS    |
+-------+

Distinct values in 'TopicID':
+-------+
|TopicID|
+-------+
|PA1    |
|FV1    |
|OWS1   |
+-------+

Distinct values in 'QuestionID':
+----------+
|QuestionID|
+----------+
|Q044      |
|Q019      |
|Q018      |
|Q036      |
|Q046      |
|Q037      |
|Q047      |
|Q043      |
|Q045      |
+----------+

Distinct values in 'DataValueTypeID':
+---------------+
|DataValueTypeID|
+---------------+
|VALUE          |
+---------------+

Distinct values in 'LocationID':
+----------+
|LocationID|
+----------+
|31        |
|34        |
|28        |
|26        |
|27        |
|44        |
|12        |
|22        |
|47        |
|1         |
|13        |
|6         |
|16        |
|20        |
|40        |
|48        |
|5         |
|19        |
|41        |
|15        |
+----------+
only showing top 20 rows

Distinct values in 'StratificationCategory1':
+-----------------------+
|StratificationCategory1|
+-----------------------+
|Total                  |
|Education              |
|Income                 |
|Age (years)            |
|Gender                 |
|Race/Ethnicity         |
+-----------------------+

Distinct values in 'Stratification1':
+--------------------------------+
|Stratification1                 |
+--------------------------------+
|Total                           |
|Data not reported               |
|45 - 54                         |
|Hawaiian/Pacific Islander       |
|$25,000 - $34,999               |
|Some college or technical school|
|$75,000 or greater              |
|College graduate                |
|Female                          |
|High school graduate            |
|Non-Hispanic Black              |
|55 - 64                         |
|Other                           |
|65 or older                     |
|35 - 44                         |
|Less than high school           |
|$35,000 - $49,999               |
|25 - 34                         |
|2 or more races                 |
|Less than $15,000               |
+--------------------------------+
only showing top 20 rows

Distinct values in 'StratificationCategoryId1':
+-------------------------+
|StratificationCategoryId1|
+-------------------------+
|INC                      |
|GEN                      |
|EDU                      |
|AGEYR                    |
|OVR                      |
|RACE                     |
+-------------------------+

Distinct values in 'StratificationID1':
+-----------------+
|StratificationID1|
+-----------------+
|INC2535          |
|INC1525          |
|RACEASN          |
|RACEOTH          |
|RACEWHT          |
|OVERALL          |
|INCNR            |
|RACENAA          |
|AGEYR2534        |
|EDUCOTEC         |
|AGEYR1824        |
|AGEYR5564        |
|MALE             |
|INC5075          |
|EDUHS            |
|RACEBLK          |
|AGEYR3544        |
|INC75PLUS        |
|EDUHSGRAD        |
|RACEHPI          |
+-----------------+
only showing top 20 rows

In [14]:
df.createOrReplaceTempView("health_data")

In [15]:
spark.sql("""
SELECT LocationDesc AS State, ROUND(AVG(Data_Value), 2) AS AvgObesityRate
FROM health_data
WHERE Question = 'Percent of adults aged 18 years and older who have obesity'
GROUP BY LocationDesc
ORDER BY AvgObesityRate DESC

""").show()

+--------------+--------------+
|         State|AvgObesityRate|
+--------------+--------------+
| West Virginia|         35.18|
|   Mississippi|         35.11|
|      Arkansas|         34.56|
|     Louisiana|         34.39|
|       Alabama|         33.64|
|      Kentucky|          32.7|
|     Tennessee|         32.67|
|      Oklahoma|          32.4|
|Virgin Islands|         32.32|
|       Indiana|         31.84|
|  North Dakota|         31.48|
|South Carolina|         31.26|
|      Michigan|         31.24|
|        Kansas|          31.2|
|      Missouri|         31.19|
|     Wisconsin|         31.06|
|         Texas|          31.0|
|          Iowa|         30.69|
|          Ohio|         30.67|
|      Nebraska|         30.23|
+--------------+--------------+
only showing top 20 rows

In [16]:
spark.sql("""SELECT Stratification1 AS Gender, ROUND(AVG(Data_Value), 2) AS AvgObesity
FROM health_data
WHERE Question = 'Percent of adults aged 18 years and older who have obesity'
  AND StratificationCategory1 = 'Gender'
GROUP BY Stratification1
 """).show()

+------+----------+
|Gender|AvgObesity|
+------+----------+
|Female|     28.51|
|  Male|     28.99|
+------+----------+

In [19]:
spark.sql("""SELECT Stratification1 AS Income, ROUND(AVG(Data_Value), 2) AS AvgFruitUnderconsumption
FROM health_data
WHERE Question = 'Percent of adults who report consuming fruit less than one time daily'
  AND StratificationCategory1 = 'Income'
GROUP BY Stratification1
ORDER BY AvgFruitUnderconsumption DESC
""").show()

+------------------+------------------------+
|            Income|AvgFruitUnderconsumption|
+------------------+------------------------+
| Less than $15,000|                   47.54|
| $15,000 - $24,999|                   43.24|
| $25,000 - $34,999|                   40.97|
| Data not reported|                   40.28|
| $35,000 - $49,999|                   39.69|
| $50,000 - $74,999|                   38.16|
|$75,000 or greater|                   34.79|
+------------------+------------------------+

In [21]:
spark.sql("""SELECT Stratification1 AS Income, ROUND(AVG(Data_Value), 2) AS AvgVegUnderconsumption
FROM health_data
WHERE Question = 'Percent of adults who report consuming vegetables less than one time daily'
  AND StratificationCategory1 = 'Income'
GROUP BY Stratification1
ORDER BY AvgVegUnderconsumption DESC
""").show()

+------------------+----------------------+
|            Income|AvgVegUnderconsumption|
+------------------+----------------------+
| Less than $15,000|                 33.41|
| $15,000 - $24,999|                 28.28|
| Data not reported|                 26.38|
| $25,000 - $34,999|                 24.69|
| $35,000 - $49,999|                 22.17|
| $50,000 - $74,999|                 19.14|
|$75,000 or greater|                 15.34|
+------------------+----------------------+

In [22]:
spark.sql("""SELECT Stratification1 AS Education, ROUND(AVG(Data_Value), 2) AS AvgObesity
FROM health_data
WHERE Question = 'Percent of adults aged 18 years and older who have obesity'
  AND StratificationCategory1 = 'Education'
GROUP BY Stratification1
ORDER BY AvgObesity DESC
""").show()

+--------------------+----------+
|           Education|AvgObesity|
+--------------------+----------+
|Less than high sc...|     33.03|
|High school graduate|     30.94|
|Some college or t...|     30.11|
|    College graduate|     22.79|
+--------------------+----------+

In [23]:
spark.sql("""SELECT LocationDesc AS State, ROUND(MAX(Data_Value), 2) AS MaxObesityRate
FROM health_data
WHERE Question = 'Percent of adults aged 18 years and older who have obesity'
  AND StratificationCategory1 = 'Gender'
  AND Stratification1 = 'Male'
GROUP BY LocationDesc
ORDER BY MaxObesityRate DESC
LIMIT 1
""").show()

+-------------+--------------+
|        State|MaxObesityRate|
+-------------+--------------+
|West Virginia|          37.9|
+-------------+--------------+

In [24]:
spark.sql("""SELECT YearStart, ROUND(AVG(Data_Value), 2) AS AvgOverweight
FROM health_data
WHERE Question = 'Percent of adults aged 18 years and older who have an overweight classification'
GROUP BY YearStart
ORDER BY YearStart
""").show()

+---------+-------------+
|YearStart|AvgOverweight|
+---------+-------------+
|     2011|        35.07|
|     2012|        35.21|
|     2013|        34.94|
|     2014|        34.71|
|     2015|        35.04|
|     2016|        34.61|
+---------+-------------+

In [25]:
spark.sql("""SELECT Stratification1 AS AgeGroup, ROUND(AVG(Data_Value), 2) AS AvgObesity
FROM health_data
WHERE Question = 'Percent of adults aged 18 years and older who have obesity'
  AND StratificationCategory1 = 'Age (years)'
GROUP BY Stratification1
ORDER BY AvgObesity DESC
""").show()

+-----------+----------+
|   AgeGroup|AvgObesity|
+-----------+----------+
|    45 - 54|     33.85|
|    55 - 64|     33.56|
|    35 - 44|     32.44|
|    25 - 34|     27.16|
|65 or older|     26.76|
|    18 - 24|      16.4|
+-----------+----------+

In [26]:
spark.sql("""SELECT
  LocationDesc AS State,
  ROUND(AVG(CASE WHEN Question = 'Percent of adults who report consuming fruit less than one time daily' THEN Data_Value END), 2) AS FruitUnderconsumption,
  ROUND(AVG(CASE WHEN Question = 'Percent of adults who report consuming vegetables less than one time daily' THEN Data_Value END), 2) AS VegUnderconsumption
FROM health_data
WHERE Question IN (
  'Percent of adults who report consuming fruit less than one time daily',
  'Percent of adults who report consuming vegetables less than one time daily'
)
GROUP BY LocationDesc
ORDER BY FruitUnderconsumption DESC
""").show()

+--------------+---------------------+-------------------+
|         State|FruitUnderconsumption|VegUnderconsumption|
+--------------+---------------------+-------------------+
|   Puerto Rico|                54.09|              23.65|
|      Oklahoma|                50.52|              26.31|
|   Mississippi|                 50.3|              31.37|
|      Arkansas|                48.66|              28.62|
|     Louisiana|                47.64|              32.24|
| West Virginia|                 47.6|              25.79|
|      Kentucky|                46.64|              25.54|
|       Alabama|                45.26|              26.26|
|South Carolina|                45.15|              27.12|
|     Tennessee|                45.02|              24.85|
|      Missouri|                44.35|              25.49|
|       Indiana|                43.15|              28.06|
|          Guam|                42.96|               26.5|
|       Georgia|                 42.9|              24.16|
|        Kansas|                42.82|              23.41|
|North Carolina|                41.99|              22.82|
|         Texas|                41.95|              21.56|
|          Ohio|                41.78|              26.47|
|  South Dakota|                 41.2|              26.63|
|          Iowa|                41.12|              27.85|
+--------------+---------------------+-------------------+
only showing top 20 rows

In [27]:
spark.sql("""SELECT LocationDesc AS State, ROUND(AVG(Data_Value), 2) AS AvgObesity
FROM health_data
WHERE Question = 'Percent of adults aged 18 years and older who have obesity'
GROUP BY LocationDesc
ORDER BY AvgObesity ASC
LIMIT 5
""").show()

+--------------------+----------+
|               State|AvgObesity|
+--------------------+----------+
|            Colorado|     21.82|
|District of Columbia|     23.68|
|              Hawaii|     24.36|
|       Massachusetts|     24.46|
|          California|     25.11|
+--------------------+----------+